<%- include('../partials/header') %>

<h1>Home</h1>

<p>We here at Yet Another Anime Recommendation Site take our anime very seriously, because we know if you're here, you probably don't. Check out our recommendations above on the navigation bar!</p>

<%- include('../partials/footer') %>

